
@{
    ViewBag.Title = "Centili";
}
<script type="text/javascript" src="https://stage.centili.com/widget/js/c-mobile-payment-scripts.js"></script>

<h2>Centili</h2>

<a id="c-mobile-payment-widget" href="https://stage.centili.com/widget/WidgetModule?api=2200751311fd1b022a829f039c86c452"><img src="https://www.centili.com/images/centili-widget-button.png" /></a>
